Menu{
    background-color:white;
}

QWidget#btnWidget
{
    border-width:1px;
    border-color:#BDC3C7;
    border-style:solid;
}
QWidget#rightWidget,QWidget#leftWidget
{
    background-color:#f0f0f0;
}
QWidget#sendWidget
{
    background-color:#ffffff;
}

QToolButton#sendBtn,
QToolButton#sendClearBtn,
QPushButton#openSerialBtn,
QPushButton#closeSerialBtn,
QPushButton#clearReceiveBtn{
    font-family:SimSun;
    font-size:12px;
    border-width:1px;
    border-style:solid;
    border-radius:3px;
    border-color:#0db5c3;
    height:24px;
    width:60px;
    color:#00a4b1;
    background-color:#ffffff;
}
QPushButton#closeSerialBtn
{
    font-family:SimSun;
    font-size:12px;
    border-width:1px;
    border-style:solid;
    border-radius:3px;
    border-color:#ED5565;
    height:24px;
    width:60px;
    color:#ED5565;
    background-color:#ffffff;
}


QToolButton#sendBtn::hover,
QToolButton#sendClearBtn::hover,
QPushButton#openSerialBtn::hover,
QPushButton#clearReceiveBtn::hover
{
    background-color:#0db5c3;
    color:#ffffff;
}
QPushButton#closeSerialBtn::hover
{
    background-color:#DA4453;
    color:#ffffff;
}

QToolButton#sendBtn::pressed,
QToolButton#sendClearBtn::pressed,
QPushButton#openSerialBtn::pressed,
QPushButton#clearReceiveBtn::pressed
{
    background-color:#00a4b1;
 }
QPushButton#closeSerialBtn::pressed
{
    background-color:#c0392b;
}



QComboBox
{
    font-family:Microsoft Yahei;
    height:20px;
    border: 1px solid #0db5c3;
    border-radius: 1px;
    padding: 1px 2px 1px 2px;
    min-width: 9em;
}
QComboBox::drop-down {
    border-left-width: 1px;
    border-left-color: #0db5c3;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
     image: url(:/ui/images/down_arrow.png);
 }

QLineEdit#yLineEdit,QLineEdit#xLineEdit,QLineEdit#tempLineEdit,
QLineEdit#rateLineEdit,QLineEdit#idLineEdit,QTextEdit#receiveTextEdit,
QTextEdit#sendTextEdit
{
    font-family:Microsoft Yahei;
    height:20px;
    border: 1px solid #0db5c3;
    border-radius: 1px;
}





QMessageBox
{
    background-color:#f0f0f0;
}
